/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

#modeedition{
	background-color: black;
    width: 100vw;
    position: fixed;
    top: 0;
    padding: 10px;
    left: 0;
}

#modeedition h2{
	display: flex;
	color: #ffffff;
	gap: 21px;
	height: 19px;
	font-size: 20px;
	margin: 0;
	justify-content: center;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.filter{
	display: flex;
    justify-content: center;
	gap: 10px;
	margin-left: 50px;
	margin-bottom: 35px;
}

.filter button {
	display: inline-block;
    padding: 10px;
    border: 1px solid #1D6154;
    cursor: pointer;
    border-radius: 60px;
    color: #1D6154;
    font-family: Syne;
    font-size: 16px;
    line-height: 19px;
	background-color: white;

	&:hover {
        background-color: #1D6154;
		color: #ffffff;
    }
}


.gallery img {
	width: 100%;

}	


#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** Login Page **/

.loginTitle {
	color: #1D6154;
	font-size: 30px;
	display: flex;
	align-items: center;
	margin: 10rem 0 4rem;
}

.loginTitleError {
	color: #1D6154;
	font-size: 30px;
	display: flex;
	align-items: center;
	margin: 10rem 0 2rem;	
}

.loginForms {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:1rem 32% 0rem;
}

.loginForms label {
	font-family: "Work Sans";
	font-weight: 500;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.loginForms input {
	width: 100%;
	border: none;
	height: 2.8rem;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin:0.5rem 0 2.5rem 0;
	font-size: 1rem;
	padding-left: 1rem;
}
.loginForms input:focus {
	outline: none;
}



#loginButton {
	background-color: #1D6154;
	color: white;
	font-family: "Syne";
	font-weight: 700;
	font-size: 14px;
	border-radius: 60px;
	height: 3.5rem;
	width: 12rem;
	border: none;
	text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPass {
	display: flex;
    justify-content: center;
    margin: 2rem;
    color: inherit;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
}

.main-container{
	gap: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

i {
    margin-right: 8px;
    font-size: 16px; 
}


.back {
	background:#0000004D;
}

.modal-wrapper {
	background: white;
	position: relative;
}

#modifier-btn {
    width: 58px;
    height: 16px;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    text-align: center;
	border: none;
    background: transparent;
}



.gallery-modal {
	display:grid;
	grid-template-columns: repeat(5,1fr);
	gap:10px;
	margin: 90px;
	margin-top: 66px;
}

.gallery-modal article{
	position: relative;
}

.gallery-modal img {
	width: 100%;
}

.gallery-modal i {
    position: absolute;
    top: 4px;
    right: 0px;
    color: white;
    background-color: black;
    padding: 3px 2px 0px 3px;
    width: 10px;
    height: 13px;
    font-size: 0.7em;
    left: 61px;
}

.modale {
    width: 630px;
    height: 691px;
    top: 25%;
	border-radius: 10px;
	background: #FFFFFF;	
	border: none;
	position: absolute;
}


/* Style pour l'image à l'intérieur de la modale */
#modalImage {
	width: 24px;
	height: 24px;
	padding: 6px 5.99px 5.99px 6px;
}

/* Style du bouton de fermeture */
.close-btn {
	color: black;
    border: none;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    top: 14px;
    font-size: 20px;
    width: 24px;
    height: 24px;
    left: 602px;
}

.liner {
    border: 1px solid #B3B3B3;
    width: 420px;
    height: 0px;
}

.title-modal {
	font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 30.5px;
    text-align: center;
    color: black;
    height: 30px;
    margin: 16px;
}

#photoButton{
	width: 237px;
    height: 36px;
    background: #1D6154;
    color: white;
    border-radius: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:200px;
	margin-top: 30px;
}


.modal-wrapper2 {
	margin:0;
}



/* Général pour centrer le modal */
.modal-addworks {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    position: relative;
    font-family: Arial, sans-serif;
}

/* Style pour les icônes et boutons de navigation */
.arrow-left, .xmark {
    position: absolute;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.arrow-left {
    left: 15px;
}

.xmark {
    right: 15px;
	top: 15px;
}

#title2 {
    text-align: center;
    color: #333;
	font-family: Work Sans;
    font-size: 26px;
    font-weight: 400;
    line-height: 30.5px;
	margin-bottom: 2em;
	padding-top: 50px;
}

/* Styles pour le formulaire */
#form-add-new-work {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Styles pour le champ d'ajout de fichier */
.container-file {
    border: none;
    padding: 20px;
    width: 393px;
    height: 187px;
    border-radius: 10px;
    background: #E8F1F6;
    display: grid;
    justify-items: center;
    align-items: center;   
    margin-left: 96px;
    text-align: center;
    position: relative;
}
.container-file i {
    font-size: 55px;
    color: #aaa;
}

.label-file {
    display: flex;
    font-family: Work Sans;
    text-align: center;
    border-radius: 50px;
    width: 173px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background: #CBD6DC;
    color: #306685;
    border: none;
}

.container-file p {
	font-size: 12px;
    color: #444444;
    font-family: Work Sans;
}


#file {
    display: none;
}

/* Aperçu de l'image */
#previewImage {
    max-width: 100%; 
    max-height: 100%; 
    display: none;
    object-fit: contain; 
    border-radius: 10px;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0;
    margin: auto;
}

label[for="title"] {
	padding-left: 99px;
}


label[for="category-input"] {
	padding-left: 99px;
}

/* Styles des champs d'entrée */
input[type="text"], select {
	padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 420px;
    height: 51px;
    margin-left: 101px;
}

/* Styles des boutons */
.container-button-addworks {
    text-align: center;
}

.button-modal-2 {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.button-modal-2-active {
    width: 237px;
    height: 36px;
    border-radius: 60px;
}


/* Pour l'effet de focus sur les inputs */
input[type="text"]:focus, select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#errorContainer1 {
    color: red;            
    margin-top: 10px; 
    font-size: 14px; 
           
}




#error-message {

    color: red;
}

